# Ignore log files
*.log

# Ignore environment configuration files
.env

# Ignore data workplace
Data/
API/
test/

# Ignore PlatformIO temporary files
.pio/

# Ignore Visual Studio temporary files
.vs/


# Ignore Visual Studio Code settings
.vscode/

# Ignore all files in node_modules
node_modules/

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Build directories
build/
out/
debug/
release/
bin/
obj/
x64/
dist/
include/

# Compiled files
*.o
*.exe
*.dll
*.so
*.dylib
*.resx

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Dependency directories
dependencies/
libs/
vendor/
lib/
packages/

# Cache and temporary files
.cache/
temp/
tmp/
*.tmp

# IDE specific
.idea/
**/*.suo
**/*.user
**/*.sln.docstates
**/*.sln
**/*.filters
**/*.pio
**/*.vcxproj

# Ignore all JSON files in the repository
**/*.json

# Ignore all Image files in the repository
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
# Allow images in the Images directory
!Images/*.png
!Images/*.jpg 

# Ignore all Archive files in the repository
**/*.zip
**/*.7zip
**/*.rar